body{
  background-color: rgb(110, 148, 148);
  background-position: 100%;
  background-size: 100% ;
}
.mainDisplay{
  background-color: cyan;
  /* color: black; */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#cityName{
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

#currentdate{
  font-weight: bolder;
  font-size: 32px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}
#forecastHeader{
  background-color: rgb(163, 227, 248);
  text-align: center;
  font-family: monospace;
  text-shadow: black;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.forecastBox{
  color: teal;
  font-size: 12px;
  
}